body {
    margin-top: 1.0em;
    /*background: url("../images/bg.png") repeat scroll 0 0 transparent;*/
    font-family: proxima-nova,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 300;
    color: #484848;
    line-height: 1.28;
}
a {
    color: steelBlue;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    color: #005580;
}
h1 {
    margin: 10px 0;
}
h2 {
    margin-bottom: 10px;
}
ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}
ol li {
    list-style-type: decimal;
    line-height: 1.4em;
}
#main {
    width: 960px;
    margin: auto;
}
#container {
    display: inline-block;
    width: 680px;
}

#sidebar {
    display: inline-block;
    vertical-align: top;
}

#feedrss img {
    margin-right: 5px;
    vertical-align: top;
}

#github-account img {
    margin-right: 5px;
}

#about-section {
    min-height: 20px;
    margin-bottom: 20px;
    background-color: whiteSmoke;
    border: 1px solid #EEE;
    border: 1px solid rgba(0, 0, 0, 0.05);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    width: 232px;
    margin-top: 30px;
    margin-left: 10px;
    padding: 15px;
}

#about-section h3 {
    font-size: 18px;
    font-weight: 300;
    margin: 0;
}

#about-section p {
    font-size: 13px;
    line-height: 18px;
}

#about-section p a {
    text-decoration: none;
}

#about-section p a:hover {
    text-decoration: underline;
}

#clarify-section {
    margin-left: 13px;
}

#site-nav {
    float: right;
    display: inline-block;
}
#site-menu {
    list-style: none;
}
#site-menu li {
    float: left;
    margin-right: 20px;
    cursor: pointer;
    line-height: 22px;
}
#site-menu li a {
    color: steelBlue;
    padding: 0;
    margin: 0;
    text-decoration: none;
    display: inline-block;
}
#site-menu li.selected a {
    border-bottom: 2px solid steelBlue;
}
#site-menu li a:hover {
    color: #005580;
}
#logo {
    color: #666;
    text-decoration: none;
    font-size: 17px;
}
.github-fork {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
}
header {
    border-bottom: 2px solid #CACACA;
    padding-bottom: 10px;
}
header > div {
    width: 680px;
}
.byline {
    font-size: 12px;
    margin-bottom: 10px;
}
.byline .author {
    display: inline;
    font-style: none;
    color: #1D637D;
    line-height: 2em;
    font-size: 100%;
    font-weight: bold;
}
.byline .author a {
    text-decoration: none;
    font-style: normal;
}
.byline .pubdate {
    color: #DD4725;
    line-height: 2em;
    font-size: 100%;
    font-weight: bold;
}
.byline .separator {
    color: #CCC;
    font-size: 13px;
    font-family: arial,helvetica,sans-serif;
    line-height: 26px;
    padding: 0 6px;
    font-weight: bold;
}

#share {
    height: 25px;
    border-bottom: 1px solid #DDD;
    padding: 5px 0;
    margin-top: 5px;
}
#share-button-list li {
    width: 100px;
    float: left;
}

ul.posts span {
    color: #AAA;
    font-size: 80%;
}
ul.posts li {
    line-height: 1.5em;
}

hr {
    margin: 18px 0;
    border: 0;
    border-top: 1px solid #EEE;
    border-bottom: 1px solid white;
}

footer {
    font-size: 13px;
}
#me-image {
    height: 60px;
    width: 60px;
    float: left;
    margin-right: 10px;
    border: 3px solid white;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
}
.article-list li {
    border-bottom: 1px solid #DDD;
    padding: 10px 0;
}
.article-list li small {
    color: #999;
}
.article-list h3 {
    margin: 0;
    font-size: 18px;
}
.article-list p {
    margin: 0;
}
.pagination p {
    text-align: right;
}

aside {
    font-size: 13px;
    border: 1px dashed #CCC;
    padding: 5px;
    background-color: #F5F5F5;
    margin-top: 15px;
}

/* 900px and under */
@media screen and (max-width:970px) {
    #main,
    #container,
    header > div {
        width: 100%;
    }
    .github-fork {
        display: none;
    }
    #sidebar {
        display: none;
    }
}
/* 840px and under */
@media screen and (max-width:840px) {
}
/* 740px and under */
@media screen and (max-width:740px) {
}
/* 600px and under */
@media screen and (max-width:600px) {
    #share {
        height: 65px;
    }
    #share-button-list li {
        margin-top: 5px;
    }
}
/* 480px and under */
@media screen and (max-width:480px) {
    #site-nav {
        margin-top: 10px;
        float: none;
    }
    #site-menu {
        display: inline-block;
    }
    /*/
    header {
        height: auto;
    }
    #site-nav {
        float: none;
    }
    #site-menu li {
        width: 97.5%;
        padding: 5px;
        border-top: 1px solid grey;
        background-color: yellow;
    }
    */
}
/* 400px and under */
@media screen and (max-width:400px) {
    .es-table {
        width: 100%;
    }
}
/* 320px and under (iPhone) */
@media screen and (max-width:320px) {
    .browsers {
        width: 90%;
    }
}
/* iPads (portrait and landscape) */
@media screen and (device-width:768px) {
}

