#profile-image {
    border: 3px solid #EEEEEE;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    float: left;
    margin-right: 16px;
}
#inputSearch {
    padding: 5px;
    font-size: 14px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
#searchContent {
    position: relative;
    display: inline-block;
}
#searchReult {
    position: absolute;
    top: 35px;
    left: 0;
    z-index: 1;
    width: 400px;
    background-color: white;
}
.result-item {

}
.result-item span {
    font-style: italic;
}